@import "tailwindcss";

@theme inline {
  --font-dm-sans: var(--font-dm-sans);
  --font-poppins: var(--font-poppins);

  --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;

  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg))
        translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg))
        translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
}

.github-icon {
  color: #fff;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: color 0.3s ease; /* Suaviza a transição */
}

.github-icon:hover {
  color: oklch(54.6% 0.245 262.881); /* Nova cor no hover */
}
